@font-face{
    font-family: Gotham-Ultra;
    src: url("../fonts/Gotham-Ultra.otf");
}
@font-face {
    font-family: Gotham-Medium;
    src: url("../fonts/Gotham-Medium.otf");
}
@font-face {
    font-family: Gotham-Thin;
    src: url("../fonts/Gotham-Thin.otf");
}