@model DevXuongMoc.Models.ProductExtension

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Bạn có muốn xoá sản phẩm mở rộng này</h3>
<div>
    <h4>ProductExtension</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Mã
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pid)
        </dd>
        <dt class = "col-sm-2">
            Mã sản phẩm mở rộng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eid)
        </dd>
        <dt class = "col-sm-2">
            Nội dung
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xoá" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại danh sách</a>
    </form>
</div>
</body>
</html>
