@*
    
*@
@{
    ViewData["Title"] = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box-content">
    <div class="banner-page">
        <div class="banner-page__image"><img src="images/anhcat/LIENHE.jpg" alt="đối tác"></div>
        <div class="banner-page__title">
            <img src="images/anhcat/logo3.png" alt="logo">
            <p>LIÊN HỆ</p>
        </div>
    </div>
    <div class="wrapper-box box-contact">
        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail h-100">
                    <img src="images/anhcat/sp2.jpg" alt="anh lien he" class="h-100 w-100">
                </div>
            </div>
            <div class="col-md-6">
                <div class="thumbnail">
                    <p>liên hệ với chúng tôi</p>
                    <form class="form" id="form">
                        <div class="form-contact">
                            <input type="text" id="username" name="username" required="" value=""><label for="username">Họ tên</label><small></small>
                        </div>
                        <div class="form-contact">
                            <input id="email" type="text" name="email" required="" value=""><label for="email">Email</label><small></small>
                        </div>
                        <div class="form-contact">
                            <input id="phone" type="text" name="phone" required="" value=""><label for="phone">
                                Số điện
                                thoại
                            </label><small></small>
                        </div>
                        <div class="form-contact">
                            <input id="desc" type="text" name="description" required="" value=""><label for="description">Nội dung</label><small></small>
                        </div><button type="submit"
                                      class="box-contact__btn">
                            Gửi
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>