@model DevXuongMoc.Models.Introduction

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Introduction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Orders" class="control-label"></label>
                <input asp-for="Orders" class="form-control" />
                <span asp-validation-for="Orders" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Home" class="control-label"></label>
                <input asp-for="Home" class="form-control" />
                <span asp-validation-for="Home" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parentid" class="control-label"></label>
                <input asp-for="Parentid" class="form-control" />
                <span asp-validation-for="Parentid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaTitle" class="control-label"></label>
                <input asp-for="MetaTitle" class="form-control" />
                <span asp-validation-for="MetaTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaKeyword" class="control-label"></label>
                <input asp-for="MetaKeyword" class="form-control" />
                <span asp-validation-for="MetaKeyword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaDescription" class="control-label"></label>
                <input asp-for="MetaDescription" class="form-control" />
                <span asp-validation-for="MetaDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedDate" class="control-label"></label>
                <input asp-for="UpdatedDate" class="form-control" />
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminCreated" class="control-label"></label>
                <input asp-for="AdminCreated" class="form-control" />
                <span asp-validation-for="AdminCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminUpdated" class="control-label"></label>
                <input asp-for="AdminUpdated" class="form-control" />
                <span asp-validation-for="AdminUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Isdelete" /> @Html.DisplayNameFor(model => model.Isdelete)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
