@{
    ViewData["Title"] = "Home Page";
}
<div class="home-banner">
    <div class="home-banner__content">
    <h1>
        THẾ GIỚI NỘI THẤT SỐ 1 VIỆT NAM <br /><span>HOÀNG HOAN</span>
    </h1>
    <p>
            Sứ mệnh của chúng tôi là kết hợp hài hoà giữa ý tưởng và<br /> mong muốn
            của khách hàng,đem lại những phút giây thư<br /> giãn tuyệt vời bên gia
            đình và những người thân yêu
      
    </p>
        <button class="home-banner__btn">
            <a>LIÊN HỆ NGAY</a>
        </button>
    
    </div>
</div>
<div class="home-category">
    <div class="list-category">
        <div class="row">
            <div class="col-md-3">
                <a href="/san-pham/phong-khach">
                    <img src="~/images/anhcat/icon-phong-khach.png" alt="">
                    <p>Phòng khách</p>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/san-pham/phong-ngu">
                    <img src="~/images/anhcat/icon-phong-ngu.png" alt="">
                    <p>Phòng ngủ</p>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/san-pham/phong-bep">
                    <img src="~/images/anhcat/icon-phong-bep.png" alt="">
                    <p>Phòng bếp</p>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/san-pham/phong-tam">
                    <img src="~/images/anhcat/icon-phong-tam.png" alt="">
                    <p>Phòng tắm</p>
                </a></div><div class="col-md-3">
                <a href="/san-pham/tre-em">
                    <img src="~/images/anhcat/icon-tre-em.png" alt="">
                    <p>Trẻ em</p>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/san-pham/van-phong">
                    <img src="~/images/anhcat/icon-van-phong.png" alt="">
                    <p>Văn phòng</p>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/san-pham/cau-thang">
                    <img src="~/images/anhcat/icon-cau-thang.png" alt="">
                    <p>Cầu thang</p>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/san-pham/do-trang-tri">
                    <img src="~/images/anhcat/icon-do-trang-tri.png" alt="">
                    <p>Đồ trang trí</p>
                </a>
            </div>
        </div>
    </div>
    <div class="slide-product">
        <h4>sản phẩm nổi bật</h4>
        <div class="slick-slider slider slick-initialized">
            <div class="slick-list">
                <div class="slick-track"></div>
            </div>
        </div>
    </div>
</div>
<div class="home-aboutUs">
    <div class="home-aboutUs__content">
        <h4>về chúng tôi</h4>
        <div class="row">
            <div class="col-md-6">
                <img src="images/AnhCatTC/ve-chung-toi/ve-chung-toi.jpg" alt="về chúng tôi" class="h-100 w-100">
            </div>
            <div class="col-md-6">
                <p>nội thất <span>hoàng hoan</span><br>uy tín song hành chất lượng</p>
                <p>Nội thất của <span>Hoàng Hoan</span> chúng tôi tự hào là đức con tinh thần ra đời sau hơn 30 năm hoạt động trong lĩnh vực kinh doanh đồ gỗ nội thất với thương hiệu ĐỒ GỖ HOÀNG HOAN nổi tiếng.</p>
                <p>Tài nguyên của chúng tôi là đội ngũ kiến trúc sư tốt nghiệp ĐH Kiên Trúc Hà Nội với nhiều năm kinh nghiệm, luôn tràn đầy nhiệt huyết và sức sáng tạo của tuổi trẻ. Thế mạnh của chúng tôi là sở hữu xưởng nội thất hơn 10.000m2 tại Hà Nội sản xuất đa dạng các sản phẩm với giá cả luôn cạnh tranh.</p>
                <div class="list-img">
                    <ul class="d-flex justify-content-between">
                        <li>
                            <div class="box">
                                <img src="images/AnhCatTC/ve-chung-toi/ve-chung-toi-1.jpg" alt="về chúng tôi 1">
                                <div class="see-more">
                                    <a class="btn" href="/">Xem thêm&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="images/AnhCatTC/ve-chung-toi/ve-chung-toi-2.jpg" alt="về chúng tôi 1">
                                <div class="see-more">
                                    <a class="btn" href="/">Xem thêm&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="images/AnhCatTC/ve-chung-toi/ve-chung-toi-3.jpg" alt="về chúng tôi 1">
                                <div class="see-more">
                                    <a class="btn" href="/">Xem thêm&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="images/AnhCatTC/ve-chung-toi/ve-chung-toi-4.jpg" alt="về chúng tôi 1">
                                <div class="see-more">
                                    <a class="btn" href="/">Xem thêm&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>