@{
    ViewData["Title"] = "Home Page";
}
<div class="home-contact" style="padding:8px 10% 16px 10%; margin-top:3rem;">
    <h1>
        THẾ GIỚI NỘI THẤT SỐ 1 VIỆT NAM <br /><span>HOÀNG HOAN</span>
    </h1>
    <p>
        <b>
            Sứ mệnh của chúng tôi là kết hợp hài hoà giữa ý tưởng và<br /> mong muốn
            của khách hàng,đem lại những phút giây thư<br /> giãn tuyệt vời bên gia
            đình và những người thân yêu
        </b>
    </p>
    <button class="btn" style="margin-top:14px; padding:7px 14px;color:#fff;background-color:#BD945F">
        <a>LIÊN HỆ NGAY</a>
    </button>
</div>
<div class="">

</div>