@*
   
*@
@{
    ViewData["Title"] = "Index";
    var accounts = ViewBag.accounts;
}
<div class="row">
    @foreach (var item in accounts)
    {
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="@item.Avatar" alt="">
                <div class="caption">
                    <h3>@item.Name</h3>
                     <p>
                        @item.Bio
                    </p>
                    <p>
                        <a asp-route-id="@item.Id" asp-action="profile" class="btn btn-success btn-block"
                         >Profile</a>
                    </p>
                </div>
            </div>
        </div>
    }
    
    
</div>
