@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Đối tác";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box-content">
    <div class="banner-page">
        <div class="banner-page__image"><img src="images/anhcat/DOITAC.jpg" alt="đối tác"></div>
        <div class="banner-page__title">
            <img src="images/anhcat/logo3.png" alt="">
            <p>ĐỐI TÁC</p>
        </div>
    </div>
    <div class="wrapper-box box-partner">
        <button type="button" data-role="none" class="slick-arrow slick-prev" style="display: block;">
            Previous
        </button>
        <div class="slick-list">
            <div class="slick-track" style="width: 3116px; opacity: 1; transform: translate3d(-1804px, 0px, 0px); transition: -webkit-transform 500ms ease 0s;">
                <div data-index="-5" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 164px;">
                    <div>
                        <div tabindex="-1" style="width: 100%; display: inline-block;">
                            <img src="images/anhcat/sheraton.png" alt="">
                        </div>
                    </div>
                </div>
                <div data-index="-4" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 164px;">
                    <div>
                        <div tabindex="-1" style="width: 100%; display: inline-block;">
                            <img src="images/anhcat/sunrise-sapa.png" alt="">
                        </div>
                    </div>
                </div>
                <div data-index="-3" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 164px;">
                    <div>
                        <div tabindex="-1" style="width: 100%; display: inline-block;">
                            <img src="images/anhcat/the-coffee-house.png" alt="">
                        </div>
                    </div>
                </div>
                <div data-index="-2" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 164px;">
                    <div>
                        <div tabindex="-1" style="width: 100%; display: inline-block;">
                            <img src="images/anhcat/vinpearl.png" alt="">
                        </div>
                    </div>
                </div>
                <div data-index="-1" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 164px;">
                    <div>
                        <div tabindex="-1" style="width: 100%; display: inline-block;">
                            <img src="images/anhcat/marvella.png" alt="">
                        </div>
                    </div>
                </div>
                <div data-index="0" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 164px;">
                    <div>
                        <div tabindex="-1" style="width: 100%; display: inline-block;">
                            <img src="images/anhcat/melissa.png" alt="">
                        </div>
                    </div>
                </div>
                <div data-index="1" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 164px;">
                    <div>
                        <div tabindex="-1" style="width: 100%; display: inline-block;">
                            <img src="images/anhcat/muong-thanh.png" alt="">
                        </div>
                    </div>
                </div>
                <div data-index="2" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 164px;">
                    <div>
                        <div tabindex="-1" style="width: 100%; display: inline-block;">
                            <img src="images/anhcat/sheraton.png" alt="">
                        </div>
                    </div>
                </div>
                <div data-index="3" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 164px;">
                    <div>
                        <div tabindex="-1" style="width: 100%; display: inline-block;">
                            <img src="images/anhcat/sunrise-sapa.png" alt="">
                        </div>
                    </div>
                </div>
                <div data-index="4" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 164px;">
                    <div>
                        <div tabindex="-1" style="width: 100%; display: inline-block;">
                            <img src="images/anhcat/the-coffee-house.png" alt="">
                        </div>
                    </div>
                </div>
                <div data-index="5" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 164px;">
                    <div>
                        <div tabindex="-1" style="width: 100%; display: inline-block;">
                            <img src="images/anhcat/vinpearl.png" alt="">
                        </div>
                    </div>
                </div>
                <div data-index="6" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 164px;">
                    <div>
                        <div tabindex="-1" style="width: 100%; display: inline-block;">
                            <img src="images/anhcat/marvella.png" alt="">
                        </div>
                    </div>
                </div>
                <div data-index="7" tabindex="-1" class="slick-slide slick-active slick-cloned" aria-hidden="false" style="width: 164px;">
                    <div>
                        <div tabindex="-1" style="width: 100%; display: inline-block;">
                            <img src="images/anhcat/melissa.png" alt="">
                        </div>
                    </div>
                </div>
                <div data-index="8" tabindex="-1" class="slick-slide slick-active slick-cloned" aria-hidden="false" style="width: 164px;">
                    <div>
                        <div tabindex="-1" style="width: 100%; display: inline-block;">
                            <img src="images/anhcat/muong-thanh.png" alt="">
                        </div>
                    </div>
                </div>
                <div data-index="9" tabindex="-1" class="slick-slide slick-active slick-cloned" aria-hidden="false" style="width: 164px;">
                    <div>
                        <div tabindex="-1" style="width: 100%; display: inline-block;">
                            <img src="images/anhcat/sheraton.png" alt="">
                        </div>
                    </div>
                </div>
                <div data-index="10" tabindex="-1" class="slick-slide slick-active slick-cloned" aria-hidden="false" style="width: 164px;">
                    <div>
                        <div tabindex="-1" style="width: 100%; display: inline-block;">
                            <img src="images/anhcat/sunrise-sapa.png" alt="">
                        </div>
                    </div>
                </div>
                <div data-index="11" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 164px;">
                    <div>
                        <div tabindex="-1" style="width: 100%; display: inline-block;">
                            <img src="images/anhcat/the-coffee-house.png" alt="">
                        </div>
                    </div>
                </div>
                <div data-index="12" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 164px;">
                    <div>
                        <div tabindex="-1" style="width: 100%; display: inline-block;">
                            <img src="images/anhcat/vinpearl.png" alt="">
                        </div>
                    </div>
                </div>
                <div data-index="13" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 164px;">
                    <div>
                        <div tabindex="-1" style="width: 100%; display: inline-block;">
                            <img src="images/anhcat/marvella.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" data-role="none" class="slick-arrow slick-next" style="display: block;"> Next</button>
    </div>
</div>