@{
    ViewData["Title"] = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box-content">
    <div class="banner-page">
        <div class="banner-page__image">
            <img src="images/anhcat/GIOITHIEU.jpg" alt="">
        </div>
        <div class="banner-page__title">
            <img src="images/anhcat/logo3.png" alt="">
            <p>GIỚI THIỆU</p>
        </div>
    </div>
    <div class="wrapper-box box-about">
        <h4>thành lập &amp; phát triển</h4>
        <div class="row about-history">
            <div class="col-md-6">
                <img src="images/anhcat/thanhlap.jpg" alt="thanh lap" class="h-100 w-100">
            </div>
            <div class="col-md-6">
                <p>
                    Nội thấy Hoàng Hoan được xây dựng dựa trên tình yêu, đam mê của tôi đối với nghề mộc và Khao khát mang những sản phẩm
                    nội thất đẹp của mình đến với khách hàng thân yêu.
                </p>
                <p>
                    Cả một quá trình từ 1 người thợ phụ rồi được làm thợ mộc chính, tự tạo ra cho mình 1
                    phân xưởng nhỏ rồi dần phát triển và hiện tại Hoàng Hoan đã là một trong những công
                    ty có dịch vụ thiết kế và thi công nội thất uy tín chất lượng với giá tốt nhất tại Hà Nội
                    với sứ mệnh “đem đến cho khách hàng không gian nội thất hòan hảo”.
                </p>
                <p>
                    Hoàng Hoan luôn nỗ lực để tạo ra không gian đẹp đẹp cho khách hàng theo
                    nhiều gam màu sắc khác nhau và phong cách đa dạng theo đúng ở sở thích
                    , lứa tuổi và phong thủy của khách hàng.
                </p>
            </div>
        </div>
        <div class="row about-vision">
            <div class="col-md-12">
                <h4>tầm nhìn</h4>
                <img src="images/anhcat/tamnhin.jpg" alt="" class="w-100">
                <p>
                    Chúng tôi luôn hướng đến việc tạo ra các sản phẩm nội thất chất trên triết lý tôn trọng
                    và giữ gìn những gì tự nhiên đã ban tặng cho con người. Chúng tôi luôn tìm tòi và ứng
                    dụng các giải pháp sản phẩm và công nghệ tiên tiến nhất, hợp tác với các đối tác công
                    nghệ hàng đầu thế giới, tìm kiếm và phát triển các vùng nguyên liệu tự nhiên được thiên
                    nhiên chọn lọc, ưu đãi trong nước lẫn nước ngoài, tất cả nhằm tạo ra các sản phẩm nội thất
                    tự nhiên gần gũi cho người khách hàng Việt Nam.
                </p>
            </div>
        </div>
        <h4>sứ mệnh</h4>
        <div class="row about-policy">
            <div class="col-md-6">
                <div class="thumbnail">
                    <img src="images/anhcat/su-menh1.jpg" alt="" class="image">
                    <div class="content">
                        <p class="title">Với xã hội</p>
                        <p class="desc">Hài hòa lới ích doanh nghiệp với lợi ích xã hội, tích cực cùng cộng đồng xây dựng môi trường sống bền vững.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="thumbnail">
                    <img src="images/anhcat/su-menh2.jpg" alt="" class="image">
                    <div class="content">
                        <p class="title">Với nhân viên</p>
                        <p class="desc">Xây dựng môi trường làm việc chuyên nghiệp, năng động, sáng tạo và nhân văn.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="thumbnail">
                    <img src="images/anhcat/su-menh3.jpg" alt="" class="image">
                    <div class="content">
                        <p class="title">Với đối tác</p>
                        <p class="desc">Đề cao tinh thần hợp tác cùng phát triển, cam kết trở thành "người đồng hành số 1" của đối tác.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="thumbnail">
                    <img src="images/anhcat/su-menh4.jpg" alt="" class="image">
                    <div class="content">
                        <p class="title">Với thị trường</p>
                        <p class="desc">Đề cao tinh thần hợp tác cùng phát triển, cam kết trở thành "người đồng hành số 1" của đối tác.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
